node_modules
package-lock.json
config.json
package.json
discloud.config
Emojis/
Commands Prefix/bot/hello.js
Commands Prefix/bot/servers.js
Commands Prefix/bot/hello.js
Commands Prefix/bot/fastcommand.js